html, body {
    margin: 0;
    background-color: #f5fffe;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 500;
    padding: 0 60px 0 60px;
}

.content {
    flex: 1;
    width: 100%;
    max-width: 1100px;
    max-height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 500;
}

.container-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-logo {
    /* flex: 1; */
    width: 114px;
    height: 37px;
    margin-top: 20px;
    object-fit: contain;
}

.logo {
    /* flex: 1; */
}

.column-left {
    flex: 1;
    display: flex;
    max-width: 440px;
    flex-direction: column;
    justify-content: center;
}

.column-left-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 70px;
}

.coming-soon {
    background-image: linear-gradient(to bottom, #dc4241, #e8544e 51%, #f66b5f);
    font-family: Righteous;
    font-size: 80px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 4px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.description {
    margin-top: 20px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #424242; 
}

.buttons {
    margin-top: 40px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 195px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    color: #dc4241;
    border-radius: 35px;
    border: solid 3px #dc4241;
}

.filled {
    color: #ffffff;
    background-color: #dc4241;
}

.icon-email {
    width: 14px;
    height: 10px;
    margin: 3px 0 0 10px;
    object-fit: contain;
}


.column-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-top: 50px;
}

.rocket-image {
    flex: 1;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.circle1 {
    position: fixed;
    right: -300px;
    top: -230px;
    width: 990px;
    height: 600px;
    border-radius: 400px;
    background-image: linear-gradient(217deg, #d4edeb, #96e0d0);
    z-index: 2;
}

.circle2 {
    position: fixed;
    right: -140px;
    top: 170px;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background-image: linear-gradient(217deg, #d4edeb, #96e0d0);
    z-index: 1;
}

.circle3 {
    position: fixed;
    right: 560px;
    top: -128px;
    width: 231px;
    height: 231px;
    border-radius: 128px;
    box-shadow: 12px 8px 23px 0 rgba(4, 44, 39, 0.08);
    background-image: linear-gradient(to bottom, #ecf7f6, #d4edea);
    z-index: 3;
}

.circle4 {
    position: fixed;
    right: 640px;
    top: 120px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 12px 8px 23px 0 rgba(4, 44, 39, 0.15);
    background-image: linear-gradient(142deg, #318390, #164c57);
    z-index: 3;
}

.circle5 {
    position: fixed;
    right: -46px;
    top: 576px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    box-shadow: 12px 8px 23px 0 rgba(4, 44, 39, 0.08);
    background-image: linear-gradient(to bottom, #fb9383, #f65a4c);
    z-index: 3;
}

.circle6 {
    position: fixed;
    left: -40px;
    bottom: 180px;
    width: 92px;
    height: 92px;
    border-radius: 60px;
    box-shadow: 12px 8px 23px 0 rgba(4, 44, 39, 0.15);
    background-image: linear-gradient(159deg, #318390, #164c57);
    z-index: 3;
}

.vawe1 {
    position: fixed;
    left: 0px;
    bottom: -30px;
    z-index: 2;
}

a {
    text-decoration: none;
}